.services__button {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 128%; /* 30.72px */
    border-radius: 5px;
    background: #D3E1E9;
    display: flex;
    width: 380px;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 0;
    font-family: inherit;
    padding: 0;
    padding-inline: 0;
    padding-block: 0;
}

.services__button.active {
    background: #143346;
    color: #fff;
}