.header {
    padding-top: 30px;
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 3;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__title {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    line-height: 153.5%; /* 30.7px */
    text-transform: uppercase;
    margin-right: 200px;
    opacity: 0;

    animation: fadeIn 1s ease-in-out forwards;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}