.contacts__wrapper {
    display: flex;
    justify-content: space-between;
}

.contacts__wrapper1 {
    background: #F0F4F6;
    padding: 100px 70px;
    border-radius: 5px;
}

.information__title {
    padding-bottom: 70px;
}